footer {
  background-color: #ede4ff;
}
.footer-section {
  width: 11rem;
  /* padding: 20rem; */
}
.footer-section-heading {
  height: 12%;
}
@media screen and (max-width: 480px) {
  .footer-section {
    width: 8rem;
    /* height: 15rem; */
    padding: 0px;
  }

  .footer-section-heading {
    height: 14%;
  }
}
