footer {
  background-color: #ede4ff;
}
.footermain {
  gap: 5rem;
  margin-top: 3rem;
}
.footer-section {
  width: 11rem;

  text-justify: inter-word;
  text-align: justify;
  /* padding: 20rem; */
}
.footer-section-heading {
  height: 12%;
}
@media screen and (max-width: 767px) {
  .footermain {
    gap: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer-section {
    width: 8rem;
    /* height: 15rem; */
    padding: 0px;
  }
  .footermain {
    /* gap: 3rem; */
    margin-top: 3rem;
  }

  .footer-section-heading {
    height: 14%;
  }
}
